header {
    min-height: 75px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px dashed grey;

    nav {
        padding-right: 1rem;

        .active {
            text-decoration: underline;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            display: flex;
            gap: 0.5rem;
        }
    }
}

main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

footer {
    min-height: 20dvh;
    display: flex;
    justify-content: space-evenly;
    background-color: grey;

    & > * {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
