header {
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    nav {
        margin-right: 1rem;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            display: flex;
            justify-content: flex-end;
            gap: 0.5rem;

            .active {
                text-decoration: underline;
            }
        }
    }
}

main {
    flex: 1;
}

footer {
    height: 15dvh;
}
