.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;

    .movie {
        width: 30%;

        .image-container {
            width: 100%;

            img {
                max-width: 100%;
            }
        }
    }
}
